<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="text-align:justify;">

    <ion-card *ngIf="id==1" padding>
     <p class="pText"> 
        <strong>PASSOVER</strong> (Pesah) — In memory of the deliverance of the Children of Israel from slavery in Egypt. (Dt 16:1-8). Passover is commemorated on the l4th of Nisan (Ex.
        12:2, 13:4), and is combined with the Feast of Unleavened Bread on 15 Nisan. During the seven days of Nisan 15-21, nothing with leaven is eaten. Whenever it was impossible
        to keep Passover at the appointed time on 14 Nisan, it was observed a month later as Second Passover, on 14 Iyyar.
        For Messianic believers, Passover is sacred because of the crucifixion and atoning death of Elohim’s Messiah on 14 Nisan, when on the cross He expiated the sin of our father Adam,
        and restored us to Elohim’s favour, and likewise atoned for our own sins and guilt. Before His trial and crucifixion, in the same night in which Iscariot betrayed Him, He instituted
        the ordained apostolic ministry together with the New Covenant Oblation which is the holy sacrament of the Lord’s Supper, offered in memory of Him until His second coming
        at the end of this age. The account is related in the books of the Gospel (Lk 22, Mt 26, 1C 11:23-29, Jn 13). The time for commemorating the Lord’s Supper is after sunset
        of Nisan 13, when Nisan 14 commences. Since Biblical times the day has always been reckoned from sunset to sunset, and not from midnight as in the manner of the Romans,
        nor from sunrise in the manner of the Egyptians.
    </p>
    </ion-card>

     <ion-card *ngIf="id==2" padding>
        <p class="pText">
          <strong>Feast of Unleavened Bread</strong> 
          This is the first day of Unleavened Bread whereby nothing leaven is eaten. 
          Exodus 12:15-16 5 For seven days you are to eat bread made without yeast. 
          On the first day remove the yeast from your houses, for whoever eats anything with yeast in it from the first day through the seventh must be cut off from Israel. 
          On the first day hold a sacred assembly, and another one on the seventh day. 
          Do no work at all on these days, except to prepare food for everyone to eat; that is all you may do.

        </p>
    </ion-card>

     <ion-card *ngIf="id==3" padding>
        <p class="pText">
           <strong>Feast of Unleavened Bread</strong>
           This day marks the end of the seven days of Unleavened bread. 
           Leviticus 23:8 And on the seventh day hold a sacred assembly and do no regular work.
        </p>
    </ion-card>

     <ion-card *ngIf="id==4" padding>
        <p class="pText">
            <strong>FEAST OF WEEKS</strong> (Shavu‘oth) — PENTECOST — The Festival of the First Fruits, Lv 23:16-21, Dt 16:9-10. It is customary to adorn the synagogues with green
            plants and flowers. In the synagogue service, the Book of Ruth is chanted with the reading of the Ten Commandments and the account of Mount Sinai.
            For Messianics, the Feast of Weeks has special significance because it was on this festival (in Greek-‘pentekoste hemera’ means fiftieth day), that the Holy Spirit of the Eternal
            Father, was sent by the risen and ascended Saviour, and descended upon the apostles assembled with the Lord’s Mother and other disciples. And there appeared unto them
            cloven tongues like of fire, and it sat upon each of them. And they were all filled with the Holy Ghost, and began to speak with other tongues, as the Spirit gave them utterance.
            Ac 2:1-41.
        </p>
    </ion-card>

     <ion-card *ngIf="id==5" padding>
        <p class="pText">
            <strong>DAY OF TRUMPET-SOUNDING</strong> (Yom Teru‘ah) <strong>CIVIL NEW YEAR</strong> (Rosh ha-Shanah) — Lv 23:24-25 Speak unto the children of Israel, saying, In the seventh month,
            in the first [day] of the month, shall ye have a sabbath, a memorial of blowing of trumpets, an holy convocation. Ye shall do no servile work [therein]: but ye shall offer an
            offering made by fire unto the LORD. Nb 29:1 And in the seventh month, on the first [day] of the month, ye shall have an holy convocation; ye shall do no servile work:
            it is a day of blowing the trumpets unto you. Encyclopaedia Judaica vol. 12, column 1061: The first of Tishri is the New Year for the civil calendar, including the counting
            of the reigns of foreign kings, for the Sabbatical and Jubilee years (ploughing and planting being forbidden from that date), and for the year of planting fruit and vegetables.
        </p>
    </ion-card>

     <ion-card *ngIf="id==6" padding>
        <p class="pText">
            <strong>DAY OF ATONEMENT</strong> (Yom Kippur) — In the Bible this is a day which Elohim commanded the Hebrew People to observe with a total fast, during which day the High
            Priest offered prescribed sacrifices for the expiation of sin and guilt (Lv16:29, 23:27; Nb 29:7-11). Since there has been no Temple following its destruction, in the summer
            of 70 A.D., it remains impossible for Jews to obey this commandment unless the Mosaic Tabernacle is found, or the Third Temple is built, and the priesthood is restored.
            This day of Atonement on Tishri 10 remains for Jews the most sacred occasion in the entire year, on which they attend the services in synagogues. All adults fast for 24
            hours without any food or drink, unless sick or on medication. Boys under 13 and girls under 12 are exempt.
        </p>
    </ion-card>

     <ion-card *ngIf="id==7" padding>
        <p class="pText">
            <strong>TABERNACLES</strong> (Sukkoth) The Festival of Ingathering — Farmers assembled in the autumn, to thank Elohim, after gathering in all their grapes, olives and produce of
            their fields. This seven-day solemnity commemorates the sojourning of the Israelites during forty years in the wilderness, dwelling in booths or huts, called “sukkoth” in
            Hebrew. The fragile nature of such temporary dwellings made the Israelites perceive their utter dependence on Elohim. The eighth day on Tishri 22, is a separate celebration
            and one of Solemn Assembly, called Shemini ‘Asereth (Ex 23:16, Lv 23:41-43, Dt 16:13-15). Tabernacles begins on the 15th day of Tishri. During the festival of Tabernacles
            in Israel to-day, it is customary for every household to erect a booth, “sukkah”, having at least three walls, with the roof made of leaves and branches, and in which both
            the family and guests take their meals. There are also those who sleep in the booth.
        </p>
    </ion-card>

     <ion-card *ngIf="id==8" padding>
        <p class="pText">
           <strong>TABERNACLES</strong>  
           This is the last great day of the Tabernacle. 
           Leviticus 23:39 “‘So beginning with the fifteenth day of the seventh month, after you have gathered the crops of the land, celebrate the festival to the Lord for seven days; the first day is a day of sabbath rest, and the <strong>eighth day</strong> also is a day of sabbath rest.
           John 7: 37-39 On the last and greatest day of the festival, Yahshua stood and said in a loud voice, “Let anyone who is thirsty come to me and drink. Whoever believes in me, as Scripture has said, rivers of living water will flow from within them.” By this he meant the Spirit, whom those who believed in him were later to receive. Up to that time the Spirit had not been given, since Yahshua had not yet been glorified.

        </p>
    </ion-card>

     <ion-card *ngIf="id==9" padding>
        <p class="pText">
            <strong>LOTS</strong> (Purim) — This feast was instituted under Persian rule of Xerxes I (Ahasuerus) 486-465 B.C., in the days of Mordecai and Queen Esther, to celebrate the deliverance
            of the Jews from Haman’s plot to kill them. Esther chapter 9. The Book of Esther is chanted in synagogues on Purim. A special meal is eaten in the afternoon, traditionally
            including beans and peas as a reminder of the pulse Daniel and his three companions ate in the King’s palace. In Israel on this day Jewish children dress in various costumes
            as Queen Esther, Haman, etc. Purim is celebrated on Adar 14 except in walled cities, such as Jerusalem, where it is celebrated on 15 Adar. This is because the Jews in the
            walled city of Shushan, in Elam, celebrated their deliverance on 15 Adar. In leap years, when there are thirteen months with a second month of Adar, Purim is then celebrated
            in the month of Second Adar.
        </p>
    </ion-card>

     <ion-card *ngIf="id==10" padding>
        <p class="pText">
            <strong>DEDICATION</strong> (Hanukkah) The Feast of Lights — According to tradition, this festival was begun in the days of the Hasmonaean Priest Judah Maccabee and his followers
            in 164 B.C. after the successful rebellion against Antiochus Epiphanes of the Seleucid Grecian Empire. At dusk during the eight days of this festival, one additional light
            is lit for each day, until on the eighth day eight lamps are burning. This is said to commemorate the miracle of the oil which took place after the Maccabees recovered the
            Temple from the Greeks. It was discovered that the Greeks had defiled all the oil reserved for the seven lamps of the Temple candelabrum, called Menorah, except for one
            cruse, which contained only sufficient oil for the candelabrum to remain kindled for one day. However, a miracle occurred, and the oil lasted eight days, until new supplies
            could be obtained. In remembrance of Elohim’s miraculous intervention, the festival of Hanukkah was instituted. It begins on the 25th of Kislew (Chisleu). The first lamp, or
            candle, is lit on the eve, at dusk on 24 Kislew.
        </p>
    </ion-card>
    
  
</ion-content>